[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
